.todoCard {
  margin: 16px;
  margin-right: 2px;
  border: 1px solid #ccc;
  box-shadow: 4px 6px 10px #ccc;
}

.todoCardChecked {
  background: #90EE90
}

.todoCardButton {
  float: right;
}

.widthFix {
  max-width: 146px;
  width: 146px;
  display: flex;
  flex: 1;
}